*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} /* Styled using the universal selector to ensure same styling through-out quiz.*/

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: lightblue; 
}

.main-box {
    width: 800px;
    max-width: 80%;
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border: 1px solid black;
    background-color: deepskyblue;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline: none;

}

.btn:hover {
    border-color: blue;
    background-color: aquamarine;
}

